<div class="container">
    <div class="row">
        <div class="col-lg-8 text-center">
            <p>
                <form class="menu-choice">
                    <div class="form-group">
                        <label for="playerName">Name: </label>
                        <input id="playerName" ng-model="setup.playerName" class="form-control" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="gameId">Game ID: </label>
                        <input id="gameId" ng-model="setup.joinId" class="form-control" type="text" />
                        <i>Enter the name of the game you wish to create or join.</i>
                    </div>
                    <div class="form-group">
                        <div class="btn btn-success" ng-click="setup.create()" ng-disabled="setup.playerName.length < 1 || setup.joinId.length < 1">
                            <span>Create game</span>
                        </div>
                        <div class="btn btn-success" ng-click="setup.join()" ng-disabled="setup.playerName.length < 1 || setup.joinId.length < 1">
                            <span>Join game</span>
                        </div>
                    </div>
                </form>
            </p>
        </div>
    </div>
</div>
<overlay></overlay>